CONFIG__DB__NAME='str'
CONFIG__DB__HOST='1.1.1.1'
CONFIG__DB__PORT=111
CONFIG__DB__USER='str'
CONFIG__DB__PASSWORD='str'
CONFIG__ORG__ID='1'
CONFIG__CLIENT__IP='1.1.1.1'
CONFIG__EMAIL__LOGIN='str@str.ru'
CONFIG__EMAIL__PASSWORD='str'
CONFIG__EMAIL__SMPT_HOST='mail.str.ru'
CONFIG__EMAIL__SMTP_PORT=111
CONFIG__STATIC__DIR_NAME='str'
CONFIG__SCHEDULE__BASE_FLOW_PREFIX='str'
CONFIG__DEBUG='True'
CONFIG__TEST='False'
